<html lang="en">
{{!-- 這是HTML文件的起始標籤，lang="en" 屬性表示此文件使用英文語言。 --}}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{!-- 這是一個設定標籤，用來指定文件使用的文字編碼格式為UTF-8，讓網頁能夠正確顯示各種文字。 --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!-- 這是一個設定標籤，用來指定瀏覽器使用的文件渲染模式，content="IE=edge" 屬性表示讓瀏覽器使用最新的渲染引擎 --}}
  <title>Expense-Tracker</title>
  {{!-- 頁面標題文字 --}}
</head>

<body>
  {{{body}}}
  {{!-- 這是一個特殊的語法，代表一個變數 body 的內容將被動態生成，並在這個位置插入。這通常是在使用模板引擎時使用的語法，目的是動態生成頁面內容。 --}}
</body>

</html>