<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body user-card">
      <h1 class="text-center mt-3">Log in</h1>
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">Account</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"  />
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        {{> message}}
      </form>
      <p class="lead mt-4">
        No account？
        <a href="/users/register" class="btn btn-success ms-3">Register</a>
      </p>
    </div>
  </div>
</div>